.imageListContainer {
  margin: 179px 176px 256px 176px;

}

.imageListContainer h1 {
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 143.023%;
  margin-bottom: 65px;
  text-align: center;
}
/* 
.imageList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
} */

.image4 {
  width: auto;
  height: 342px;
  background-image: url("../assets/businesslaw2.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url("../assets/businesslaw2.jpg"), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.image1 {
  width: auto;
  height: 342px;
  background-image: url("../assets/businesslaw.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url("../assets/businesslaw.jpg"), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.image5 {
  width: auto;
  height: 342px;
  background-image: url("../assets/landlord.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url("../assets/landlord.jpg"), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.image2 {
  width: auto;
  height: 342px;
  background-image: url("../assets/partnershiplaw.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url("../assets/partnershiplaw.jpg"), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.image3 {
  width: auto;
  height: 342px;
  background-image: url("../assets/realestatelaw.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url("../assets/realestatelaw.jpg"), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.image6 {
  width: auto;
  height: 342px;
  background-image: url("../assets/elder.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url("../assets/elder.jpg"), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.image1 h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.image2 h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.image3 h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.image4 h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.image5 h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.image6 h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

