.introPageContainer {
    margin: 186px 0 179px 0;
}

.whyChooseTag {
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 143.023%;
text-align: center;
height: 77px;
margin-bottom: 88px;
}


.cardContainer {
    margin: 0 176px 0 176px;
    display: flex;
    justify-content: space-between;
}