.teamContainer {
  margin: 188px 176px 190px 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.teamContainer > h1 {
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 143.023%;
  margin-bottom: 80px;
}

.team1 {
  height: 109px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.item1 {
  height: 100%;
  width: 344px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 14px;
}

.item2 {
  height: 100%;
  width: 344px;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-stamp);
  border-radius: 14px;
  color: var(--color-black);
}

.item3 {
  height: 100%;
  width: 344px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 14px;
}

.item4 {
    height: 100%;
    width: 344px;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 14px;
  }
  
  .item5 {
    height: 100%;
    width: 344px;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 14px;
  }
  
  .item6 {
    height: 100%;
    width: 344px;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 14px;
  }

.item1:hover {
    background-color: var(--color-stamp);
    color: var(--color-black);
    cursor: pointer;
}

.item2:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}

.item3:hover {
    background-color: var(--color-stamp);
    color: var(--color-black);
    cursor: pointer;
}
.item4:hover {
    background-color: var(--color-stamp);
    color: var(--color-black);
    cursor: pointer;
}
.item5:hover {
    background-color: var(--color-stamp);
    color: var(--color-black);
    cursor: pointer;
}
.item6:hover {
    background-color: var(--color-stamp);
    color: var(--color-black);
    cursor: pointer;
}



.child {
    padding-left: 22px;
}

.child > h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}


.child > p {
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
color: var(--color-greyText);
}
